@charset "utf-8";

*{padding:0; margin:0;}
li{list-style:none;}
a{text-decoration:none; font-size:18px;}

header{position:relative; width:auto; height:91px; background-color: #6a6b6d;}
    img{position:absolute; top:0; left:20px; width:150px; height:90px;}
    .label{position:absolute; top:10px; right:20px; color:#000;}
    input{width:100px; height:20px; margin-left:10px;}
    .subm{margin-left: 120px;}
    .subm, .join{width:70px; height:25px; margin-top: 20px;}

.menu {width:1300px; position:absolute; top:50px; left:300px; overflow:hidden; margin:0 auto;}
    .menu > li {width:170px; float:left; line-height:40px; background-color: #6a6b6d; text-align:center;}
    .ft a{font-size:18px; font-weight:bold;}
    .ft1{margin-left:80px;}
    .ft .submenu a{font-size:15px; font-weight:normal;}
    .menu a {color: #fff; display:block;}
    .submenu > li {line-height:35px; background-color:#6a6b6d;}
    .submenu {height:0; overflow:hidden;}
    .menu > li:hover {background-color: #000 ; transition-duration: 0.5s;}
    .menu > li:hover .submenu {height:auto; transition-duration: 1s;}
    .menu > li:hover .submenu > li:hover{background-color: #000;}

    .container{display:flex; width:1200px; height:400px; border:1px solid #ff0; margin-left:20%; overflow:hidden;}
    .container div h2{position:absolute; top:280px; left:50px; color:#fff;}
    .container div p{width:140px; height:28px; position:absolute; top:320px; left:50px; color:#fff; font-size:17px; border:2px solid #fff; text-align:center; border-radius:20px;}
    .container div p:hover{cursor:pointer; background:#fff; font-weight:bold; color:#000; transition: all .1s;}
    .container .item{width:1200px; height:400px; background:center/cover no-repeat; flex-shrink:0; background:center/cover no-repeat; position:relative;}
    .container .item::before{content:""; position:absolute; opacity:.5; top:0; left:0; width:100%; height:100%; background:#000;}
    .container .item1{background-image: url("../images/main.jpg");}
    .container .item2{background-image: url("../images/main2.jpg");}
    .container .item3{background-image: url("../images/main3.jpg");}
    #main_view .pager{position:absolute; bottom:0; left:0; z-index:10; transform:translateX(-50%);}
    
/*    #prev img{position:absolute; top:260px; left:18.5%; width:30px; height:30px; border-radius: 50%;}
    #next img{position:absolute; top:260px; left:80%; width:30px; height:30px; border-radius: 50%;}
*/
main{position:relative; width:auto; height:1100px; margin-top:20px; border:1px solid #ff0;}
    .topmenu{position:fixed; bottom:100px; right:60px; width:70px; height:70px; color: #000;}
    .topmenu a{margin:0;}
    .topmenu img{width:40px; height:40px; margin:0;}    
    iframe{width:550px; height:600px; border:none;}
    .if1{position:absolute; left:20%; top:0px;}
    .if2{position:absolute; right:15%; top:0px;}
    .if3{position:absolute; left:20%; top:400px;}
    .if4{position:absolute; right:15%; top:400px;}

footer{width:100%; height:100px; position:relative; bottom:0; left:0; border: 1px solid #f00; background-color: #000;}
    img{float:left; height:100%; margin-left: 30px;}
    .foot{margin-top:30px;}
    .foot li{float:left; font-size:10px; text-align:center; margin:0 20px; color: #fff;}
    .foot li:first-child{margin-left:40%;}
    .foot p{font-size:12px; color: #fff; margin-left: 45%;}